# Wasleh Restaurant Dashboard - Environment Variables
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB_XsQSvU-J1jZURhazsFvMgP-ZiEFOyno
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=wasleh-9d729.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=wasleh-9d729
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=wasleh-9d729.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MSG_SENDER_ID=380607552072
NEXT_PUBLIC_FIREBASE_APP_ID=1:380607552072:web:29794fa5c3bfd8f34fd67d
